.img{
    height: 100px ;
    background-color: rgb(25, 26, 25);
    padding: 10px;
    margin: 20px;
    border-radius: 5px solid;

}
.imgone{
    height: 200px ;
    background-color: rgb(126, 23, 86);
    padding: 10px;
    margin: 20px;
    border-radius: 5px solid;

}
.info{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 10px;
    margin: 20px;
    border-radius: 5px solid;


}